{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div id="login-form">
    <div id="login-form-container" class="card-container">
        <h2 id="login-text" class="architects">Login</h2>
        {% if form.errors %}
        <p>{{ form.errors | crispy }}</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p class="architects">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p class="architects">Please login to see this page.</p>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <div id="login-form-button">
	            <input class="btn btn-primary" type="submit" value="Login" />
	            <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>

        <p id="lost-password"><a href="{% url 'password_reset' %}">Lost password?</a></p>
        <p id="register-login-link"><a href="{% url 'accounts:register' %}">Don't have an account?</a></p>
    </div>
    <div id="social-login-container">
        <div id="google-login-container" class="social-login card-container">
            <img id="google-logo" alt="Google logo" src="{% static 'questions/google-logo.png'%}"/>
            <a id="google-login-link" href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
        </div>
        <div id="github-login-container" class="social-login card-container">
            <img id="github-logo" alt="Github logo" src="{% static 'questions/github-logo.png'%}"/>
            <a id="github-login-link" href="{% url 'social:begin' 'github' %}">GitHub</a>
        </div>
        <div id="twitter-login-container" class="social-login card-container">
            <img id="twitter-logo" alt="Twitter logo" src="{% static 'questions/twitter-logo-trans.png'%}"/>
            <a id="twitter-login-link" href="{% url 'social:begin' 'twitter' %}">Twitter</a>
        </div>
    </div>
</div>
{% endblock %}
