{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
{% if validlink %}
<h1 class="architects" id="change-password-id">{% translate "Change password"%}</h1>
<form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary" type="submit">{% translate "Change password"%}</button>
</form>
{% else %}
<p id="change-password-id">
    {% translate "The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset."%}
</p>
{% endif %}
{% endblock %}
