{% load i18n %}

{% autoescape off %}
{% blocktranslate with username=user.get_username%}
To initiate the password reset process for your {{ username }} CloudQuestions Account,
click the link below:
{% endblocktranslate %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead."%}

{% translate "Sincerely"%},
{% translate "The CloudQuestions Team"%}
{% endautoescape %}
