{% extends "base.html" %}

{% block content %}
<div class="architects" id="browse-title">
    <h1>Browse topics!</h1>
</div>

<div class="container_forms" id="search_form">
    <form action="/questions/browse" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="search">
        {{ search_form }}
    </form>
</div>

{% if searched %}
<div class="list_searched">
    <ul>
        {% for topic, printable_topic in topics_searched.items %}
        <li class="list_topic_item color_{{topic.color}}">
            <a class="link-clickable" href="{% url 'questions:detail' topic.name %}">
                <h3 class="inline-block-black">{{printable_topic}}</h3>
                <p class="inline-block-black">Created: {{topic.created}}</p>
                <p class="inline-block-black">Creator: {{topic.creator}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% if empty %}
<p> No hay ningún topic con esa búsqueda. </p>
{% endif %}
{% else %}
<div class="list_topic">
    <ul>
        {% for topic, printable_topic in all_topics.items %}
        <li class="list_topic_item color_{{topic.color}}">
            <a class="link-clickable" href="{% url 'questions:detail' topic.name %}">
                <h3 class="inline-block-black">{{printable_topic}}</h3>
                <p class="inline-block-black">Created: {{topic.created}}</p>
                <p class="inline-block-black">Creator: {{topic.creator}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}
