{% extends "base.html" %}
{% block content %}
<h1>Create topic</h1>
<form action="/questions/create_topic" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="create_topic">
    {{ create_topic_form }}
    <input name="button" type="submit" value="Add"/>    
</form>
<br/>
{% if added %}
<h1 class="name_topic">{{topic}}</h1>
<input name="delete" type="submit" value="Delete topic"/>
{% if created %}
<ul>
    {% for question, answer in list_questions.items %}
    <details>
	<summary>{{question}}</summary>
	<p>{{answer}}</p>
    </details>
    {% endfor %}
</ul>
{% endif %}
<form action="/questions/create_topic" method="post">
    {% csrf_token %}
    <input name="topic_name" type="hidden" value="{{topic}}"/>
    <input type="hidden" name="action" value="create_question">
    {{ create_question_form }}
    <input name="button" type="submit" value="Add"/>
</form>
{% endif %}
{% endblock %}
