{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="list_topic_item color-opacity_{{topic.color}}" id="header-topic">
    <h1 class="inline-block-black"> {{ topic_pretty_name }} </h1>
    <p class="inline-block-black"> Created: {{topic.created}}</p>
    <p id="creator-text-detail" class="inline-block-black" > Creator: {{ creator }}</p>
    {% if is_creator %}
    <div id="privacy-button-container" class="inline-block-black">
        {% if public == 1%}
        <form method="get">
            <input name="privacy-button" type="image" src="{% static 'questions/public-24px.svg' %}"alt="Public button"/>
        </form>
        {% else %}
        <form method="get">
            <input name="privacy-button" type="image" src="{% static 'questions/lock-24px.svg' %}"alt="Public button"/>
        </form>
        {% endif %}
    </div>
    <div id="modify-button-container" class="inline-block-black">
        <form method="get">
            <input name="modify-button" type="image" src="{% static 'questions/build-24px.svg' %}"alt="Public button"/>
        </form>
    </div>
    <div id="share-button-container" class="inline-block-black">
        <div class="dropdown">
            <button type="button" id="dropdown-image" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img alt="Share image" src="{% static 'questions/share-24px.svg' %}"/>
            </button>
            <!-- <a href="" data-toggle="dropdown">
                 <img alt="Share image" src="{% static 'questions/share-24px.svg' %}"/>
                 </a> -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div id="random_session">
    <form method="get">
        <input class="btn btn-primary" name="random" type="submit" value="Random session"/>
    </form>
</div>
{% if user.is_authenticated %}
<div class="inline-block-black" id="rating-buttons">
    <form class="inline-block-black" method="get" action="">
        <input class="btn btn-danger" name="red_button" type="submit" value="Bad"/>
    </form>
    <form class="inline-block-black" method="get" action="">
        <input class="btn btn-warning" name="yellow_button" type="submit" value="Medium"/>
    </form>
    <form class="inline-block-black" method="get">
        <input class="btn btn-success" name="green_button" type="submit" value="Good"/>
    </form>
</div>
{% endif %}

{% if is_creator %}
<div id="delete-form">
    <form method="get">
        <input class="btn btn-dark" name="delete" type="submit" value="Remove topic"/>
    </form>
</div>
{% endif %}
<div id="list_questions">
<ul>
    {% autoescape off %}
    {% for question in questions_by_topic %}
    <div class="note rounded color-light_{{topic.color}}">
    <details id="questions_answers">
	    <summary>{{question.question}}</summary>
        <div class="note-answer">
            <p class="align-left"> {{question.answer}}</p>
        </div>
    </details>
    </div>
    {% endfor %}
    {% endautoescape %}
</ul>
</div>
{% endblock %}
