{% extends "base.html" %}

{% block content %}
<div class="list_topic_item color-opacity_{{topic.color}}" id="header-topic">
    <h1 class="inline-block-black"> {{ topic_pretty_name }} </h1>
    <p class="inline-block-black"> Created: {{topic.created}}</p>
    <p class="inline-block-black" > Creator: {{ creator }}</p>
</div>
<div id="random_session">
    <form method="get">
        <input name="random" type="submit" value="Random session"/>
    </form>
</div>
{% if user.is_authenticated %}
<div class="inline-block-black" id="rating-buttons">
    <form class="inline-block-black" method="get" action="#">
        <input name="red_button" type="submit" value="Bad"/>
    </form>
    <form class="inline-block-black" method="get" action="#">
        <input  name="yellow_button" type="submit" value="Medium"/>
    </form>
    <form class="inline-block-black" method="get" action="#">
        <input name="green_button" type="submit" value="Good"/>
    </form>
</div>
{% endif %}

{% if is_creator %}
<div id="delete-form">
    <form method="get">
        <input name="delete" type="submit" value="Remove topic"/>
    </form>
</div>
{% endif %}
<div id="list_questions">
<ul>
    {% autoescape off %}
    {% for q, answer in questions_by_topic.items %}
    <details id="questions_answers">
	    <summary>{{q}}</summary>
        <p class="align-left"> {{answer}}</p>
    </details>
    {% endfor %}
    {% endautoescape %}
</ul>
</div>
{% endblock %}
