{% extends "base.html" %}

{% block content %}
<h1> {{ topic }} </h1>
<input class="button_random" type="button" value="Random question" onclick="location.href='{% url  'questions:random' topic%} '"/>
<ul>
    {% for q, answer in questions_by_topic.items %}
    <details>
	<summary>{{q}}</summary>
	<p>{{answer}}</p>
    </details>
    {% endfor %}
</ul> 


{% if user.is_authenticated %}
<form method="get" action="#">
    <input name="red_button" type="submit" value="Bad"/>
</form>
<form method="get" action="#">
    <input name="yellow_button" type="submit" value="Medium"/>
</form>
<form method="get" action="#">
    <input name="green_button" type="submit" value="Good"/>
</form>
{% endif %}
{% endblock %}
