<body>
  <form action="/questions/" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="search">
    {{ search_form }}
    <input type="submit" value="Submit">
  </form>
  <form action="/questions/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="upload">
    {{ upload_file_form }}
    <input type="submit" value="Submit">
  </form>
  {% if topics_return %}
  <ul>
    {% for db_name, topic in topics_return.items %}
      <li><a href="{% url 'questions:detail' db_name %}"> {{topic}} </a></li>
      {% endfor %}
  </ul>
  {% else %}
  <ul>
      {% for db_name, topic in all_topics.items %}
      <li><a href="{% url 'questions:detail' db_name %}"> {{topic}} </a></li>
      {% endfor %}
  </ul>
  {% endif %}
  <a href="{% url 'questions:login' %}"> Login </a>
</body>
