{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="index-container">
    <div id="logo-container">
        <img id="cloudquestions-logo" alt="CloudQuestions logo" src="{% static 'questions/settings-logo.png'%}"/>
    </div>
    <div id="description-container">
        <div id="description-text-container">
            <p class="index-title align-left">Efficient learning made easy</p>
            <p class="align-left" id="description-text">CloudQuestions combines FlashCards with spaced repetition functionality, helping deep understanding of topics.</p>
            <div class="align-left" id="description-button-container">
                <form action="{% url 'accounts:register'%}" method="get">
                    <input id="description-button" type="submit" value="Sign up"/>
                </form>
            </div>
        </div>
    </div>
    <div id="experts-container">
        <p class="index-title align-left">Experts</p>
        <div class="expert" id="expert-1">
            <p>Ali Abdaal -</p>
            <p>"I’ve come across active recall and spaced repetition which, in combination, will help make your studies more efficient, effective and rewarding."</p>
        </div>
        <div class="expert" id="expert-2">
            <p>Mark A. McDaniel -</p>
            <p>"If you ask people to free-recall, you can generate a better mental model of a subject area, and in turn that can lead to better problem-solving."</p>
        </div>
        <div class="expert">
            <p>Sean H. K. Kang -</p>
            <p>"Repeated encounters with to-be-learned material that are spaced out in time (as opposed to recurring back-to-back) are an effective way to foster learning that is long-lasting."</p>
        </div>
    </div>
    <div id="workflow-container">
        <p class="index-title align-left">Workflow</p>
        <p class="align-left">The recommended way of using the app is accessing the topics and answering the questions without looking at the response. Then, rate your session and redo it as you need.</p>
        <div id="device-container">
            <div class="marvel-device iphone-x">
                <div class="notch">
                    <div class="camera"></div>
                    <div class="speaker"></div>
                </div>
                <div class="top-bar"></div>
                <div class="sleep"></div>
                <div class="bottom-bar"></div>
                <div class="volume"></div>
                <div class="overflow">
                    <div class="shadow shadow--tr"></div>
                    <div class="shadow shadow--tl"></div>
                    <div class="shadow shadow--br"></div>
                    <div class="shadow shadow--bl"></div>
                </div>
                <div class="inner-shadow"></div>
                <div class="screen">
                    <!-- Content goes here -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}


