{% extends "base.html" %}

{% block content %}
<div class="questions-{{help}}">
{% if user.is_authenticated %}
<div class="base inline-block-black">
    <p id="user_hi">Hi, <a id="user_name" href="/accounts/settings/">{{ user.username }}</a>! </p>
</div>
<div class="toggle-help inline-block-black">
    <form method="get">
        <input class="btn btn-outline-success" id="help-button" name="toggle_help" type="submit" value="Help?"/>
    </form>
</div>
{% endif %}
<div class="container_forms" id="search_form">
    <form action="/questions/" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="search">
        {{ search_form }}
    </form>
</div>

{% if user.is_authenticated %}
<div class="container">
<div id="file_upload_form">
    <form action="/questions/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="action" value="upload">
        {{ upload_file_form }}
        <label for="file_upload">Choose a file...</label>
        <input class="btn btn-outline-danger" id="file_button" name="file_button" type="submit" value="Submit">
    </form>
</div>
<div id="create_topic_form">
    <form method="get">
        <input class="btn btn-outline-primary" name="upload_topic" type="submit" value="Create topic"/>
    </form>
</div>
{% endif %}
</div>
{% if searched %}
<div class="list_searched">
    <ul>
        {% for topic, printable_topic in topics_searched.items %}
        <li class="color_{{topic.color}}">
            <a class="link-clickable" href="{% url 'questions:detail' topic.name %}">
                <h3 class="inline-block-black">{{printable_topic}}</h3>
                <p class="inline-block-black">Created: {{topic.created}}</p>
                <p class="inline-block-black">Creator: {{topic.creator}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% if empty %}
<p> No hay ningún topic con esa búsqueda. </p>
{% endif %}
{% else %}
<div class="list_topic">
<ul>
    {% for topic, printable_topic in all_topics.items %}
    <li class="color_{{topic.color}}">
        <a class="link-clickable" href="{% url 'questions:detail' topic.name %}">
            <h3 class="inline-block-black">{{printable_topic}}</h3>
            <p class="inline-block-black">Created: {{topic.created}}</p>
            <p class="inline-block-black">Creator: {{topic.creator}}</p>
        </a>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}
</div>
{% endblock %}
