{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="list_topic_item color-opacity_{{topic.color}}" id="header-topic">
    <h1 class="inline-block-black"> {{ topic_pretty_name }} </h1>
    <p class="inline-block-black"> Created: {{topic.created}}</p>
    <p class="inline-block-black" > Creator: {{ creator }}</p>
</div>
{% autoescape off %}
<div class="note rounded color-light_{{topic.color}}">
<details class="align-left">
    <summary>{{random_question.question}}</summary>
    <p>{{random_question.answer}}</p>
</details>
</div>
{% endautoescape %}
<div id="buttons-random">
<div class="inline-block-black" id="return-button">
    <form method="get">
        <input class="btn btn-primary" name="return" type="submit" value="Go back"/>
    </form>
</div>

<div class="inline-block-black margin-left" id="next-question">
    <form method="get">
        <input class="btn btn-success" name="next_question" type="submit" value="Next"/>
    </form>
</div>
</div>

{% endblock %}
