body {
    text-align: center;
    margin: 0 auto;
}

#user_hi {
    padding-top: 20px;
    padding-bottom: 10px;
}

#user_hi a {
    font-size: 30px;
}

.container_forms {
    padding-bottom: 10px;
}

#search_form input[type="text"] {
    background: url(search-24px.svg) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    color: #bebebe;
    width: 35%;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search_form input[type="text"]:focus {
    width: 50%;
}

#file_upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
