{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    {% if topic %}
        <title>CloudQuestions - {{topic.name}}</title>
        {% else %}
        <title>CloudQuestions</title>
        {% endif %}

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{% static 'questions/style.css' %}" rel="stylesheet"/>
        <link href="{% static 'questions/devices.min.css' %}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Pangolin&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="container-navbar" class="bg-light">
	        <nav class="navbar navbar-expand-lg navbar-light bg-light">
	            <a class="navbar-brand" href="{% url 'index' %}">
		            {# <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> #}
                    CloudQuestions
	            </a>
	            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
	            </button>
	            <div class="collapse navbar-collapse" id="navbarNavDropdown">
		            <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
		                <li class="nav-item active">
			                <a class="nav-link" href="{% url 'questions:questions' %}">Questions</a>
		                </li>
                        {% endif %}
                        <li class="nav-item active">
			                <a class="nav-link" href="{% url 'questions:browse' %}">Browse</a>
		                </li>
		                <li class="nav-item">
			                <a class="nav-link disabled" href="">Pricing</a>
		                </li>
		            </ul>
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
			                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
			                </a>
			                <div class="dropdown-menu dropdown-menu-right" id="container_user_info" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                <a class="dropdown-item" href="{% url 'accounts:settings' %}">Settings</a>
			                </div>
		                </li>
                    </ul>
	            </div>
                {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
			            <a class="nav-link active" href="{% url 'accounts:register' %}">Sign up</a>
		            </li>
                    <li class="nav-item">
			            <a class="nav-link active" href="{% url 'login' %}">Login</a>
		            </li>
                </ul>
                {% endif %}
	        </nav>
        </div>
	    {% block content %}
	    {% endblock %}
        <div id="container-footer" class="bg-light">
            <nav id="footer" class="navbar sticky-bottom navbar-light bg-light">
                <div id="footer-container-grid" class="bg-light">
                    <div id="footer-about" class="footer-grid-a">
                        <p id="about-header" class="footer-header architects">ABOUT</p>
                        <div id="footer-social-info">
                            <div id="footer-twitter-info">
                                <img id="footer-twitter-logo" class="half-opacity" alt="Twitter logo" src="{% static 'questions/twitter-logo-footer.gif'%}"/>
                                <div class="twitter-creators">
                                    <a class="inline-block-black footer-link" href="https://twitter.com/quique_kessler">@quique_kessler</a>
                                </div>
                                <div class="twitter-creators">
                                </div>
                            </div>
                            <div id="footer-github-info">
                                <img id="footer-github-logo" class="half-opacity" alt="Github logo" src="{% static 'questions/github-logo-footer.gif'%}"/>
                                <div>
                                    <a id="github-profile-link" class="footer-link" href="https://github.com/Qkessler">Qkessler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="footer-developers" class="footer-grid-b">
                        <p id="developers-header" class="footer-header architects">DEVELOPERS</p>
                        <div class="github-link">
                            <a class="footer-link" href="https://github.com/Qkessler/CloudQuestions">Repository</a>
                        </div>
                        <div class="github-link">
                            <a class="footer-link" href="https://github.com/Qkessler/CloudQuestions/issues">Issues</a>
                        </div>
                    </div>
                    <div id="footer-connect" class="footer-grid-c">
                        <p id="connect-header" class="footer-header architects">CONNECT WITH US</p>
                        <div id="contact-form">
                            <div id="email-link">
                                <a class="footer-link" href="mailto:qkessler@gmail.com">Shoot us an email</a>
                            </div>
                        </div>

                    </div>
                    <div id="footer-help" class="footer-grid-d">
                        <a class="footer-header architects footer-link" href="https://cloudquestions.es/questions/CloudQuestions_Help/">NEED HELP?</a>
                    </div>
                </div>
            </nav>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
