{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">

{% block content %}
<h2>Settings</h2>
<p>Hi, {{ user.username }}! </p>
<h3>GitHub</h3>
{% if github_login %}
<p>Connected as <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
{% if can_disconnect %}
<form method="post" action="{% url 'social:disconnect' 'github' %}">
    {% csrf_token %}
    <button type="submit">Disconnect from GitHub</button>
</form>
{% else %}
<button type="button" disabled>Disconnect from GitHub</button>
<p style="color: red">You must <a href="{% url 'password_reset' %}">define a password</a> for your account before disconnecting from Github.</p>
{% endif %}
{% else %}
<a href="{% url 'social:begin' 'github' %}">Connect to GitHub</a>
{% endif %}

<h3>Twitter</h3>
{% if twitter_login %}
<p>Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a></p>
{% if can_disconnect %}
<form method="post" action="{% url 'social:disconnect' 'twitter' %}">
    {% csrf_token %}
    <button type="submit">Disconnect from Twitter</button>
</form>
{% else %}
<button type="button" disabled>Disconnect from Twitter</button>
<p style="color: red">You must <a href="{% url 'password_reset' %}">define a password</a> for your account before disconnecting from Twitter.</p>
{% endif %}
{% else %}
<a href="{% url 'social:begin' 'twitter' %}">Connect to Twitter</a>
{% endif %}

<h3>Google</h3>
{% if google_login %}
<p>Connected with Google.</p>
{% if can_disconnect %}
<form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
    {% csrf_token %}
    <button type="submit">Disconnect from Google</button>
</form>
{% else %}
<button type="button" disabled>Disconnect from Google</button>
<p style="color: red">You must <a href="{% url 'password_reset' %}">define a password</a> for your account before disconnecting from Google.</p>
{% endif %}
{% else %}
<a href="{% url 'social:begin' 'google-oauth2' %}">Connect to Google</a>
{% endif %}
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch1">
    <label class="custom-control-label" for="customSwitch1">Toggle Google Calendar's connection.</label>
</div>

<h3>Ratings table</h3>
<div class="ratings_table">
    <table class="table table-stripped table-hover">
	<thead class="thead-light">
	    <tr>
		<th>Topic name</th>
	    </tr>
	</thead>
	<tbody>
	    {% for topic, ratings in ratings_table.items %}
	    <tr>
		<td>{{ topic.name }}</td>
		{% for rating in ratings %}
		{% if rating.rating == 'red' %}
		<td class='bg-danger'>{{ rating.created }}</td>
		{% elif rating.rating == 'yellow' %}
		<td class='bg-warning'>{{ rating.created }}</td>
		{% elif rating.rating == 'green' %}
		<td class='bg-success'>{{ rating.created }}</td>
		{% endif %}
		
		{% endfor %}
	    </tr>
	    {% endfor %}
	</tbody>
    </table>
</div>
{% endblock %}


