{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">

{% block content %}
<div id="settings-text-container">
    <h2 class="architects inline-block-black" id="settings-text">Settings</h2>
    <img class="inline-block-black" id="settings-logo" alt="Settings emoji" src="{% static 'questions/settings-logo.png'%}"/>
</div>

<div class="align-center" id="social-container">
    <div class="align-left" id="social-login">
        <div class="padding-login" id="github-login">
            <img id="github-logo" alt="Github logo" src="{% static 'questions/github-logo.png'%}"/>
            {% if github_login %}
            <p class="inline-block-black">Connected as <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
            {% if can_disconnect %}
            <div class="inline-block-black">
                <form method="post" action="{% url 'social:disconnect' 'github' %}">
                    {% csrf_token %}
                    <input type="submit" value="Disconnect">
                </form>
            </div>
            {% else %}
            <button class="inline-block-black" type="button" disabled>Disconnect from GitHub</button>
            <p style="color: red">You must <a href="{% url 'password_reset' %}">define a password</a> for your account before disconnecting from Github.</p>
            {% endif %}
            {% else %}
            <a href="{% url 'social:begin' 'github' %}">Connect to GitHub</a>
            {% endif %}
        </div>
        
        <div class="padding-login" id="twitter-login">
            <img id="twitter-logo"Twitter logo" src="{% static 'questions/twitter-logo.png'%}"/>
            {% if twitter_login %}
            <p class="inline-block-black">Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a></p>
            {% if can_disconnect %}
            <div class="inline-block-black">
                <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
                    {% csrf_token %}
                    <input type="submit" value="Disconnect">
                </form>
            </div>
            {% else %}
            <button class="inline-block-black" type="button" disabled>Disconnect from Twitter</button>
            <p style="color: red">You must <a href="{% url 'password_reset' %}">define a password</a> for your account before disconnecting from Twitter.</p>
            {% endif %}
            {% else %}
            <a href="{% url 'social:begin' 'twitter' %}">Connect to Twitter</a>
            {% endif %}
        </div>
        <div class="padding-login" id="google-login">
            <img id="google-logo"alt="Google logo" src="{% static 'questions/google-logo.png'%}"/>
            {% if google_login %}
            <p class="inline-block-black">Connected with Google</p>
            {% if can_disconnect %}
            <div class="inline-block-black">
                <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
                    {% csrf_token %}
                    <input type="submit" value="Disconnect">
                </form>
            </div>
            {% else %}
            <button type="button" disabled>Disconnect from Google</button>
            <p style="color: red">You must <a href="{% url 'password_reset' %}">define a password</a> for your account before disconnecting from Google.</p>
            {% endif %}
            {% else %}
            <a href="{% url 'social:begin' 'google-oauth2' %}">Connect to Google</a>
            {% endif %}
        </div>
        <div id="calendar-connection">
            <img id="calendar-logo" alt="Calendar logo" src="{% static 'questions/calendar-logo.png'%}"/>
            <div class="inline-block-black">
                <form method="get" action="">
                    {% if calendar_connection %}
                    <label class="label-calendar" for="calendar">Connected to Google Calendar!</label>
                    <input class="btn btn-danger btn-sm" name="calendar" type="submit" value="Disconnect"/>
                    {% else %}
                    <label class="label-calendar" for="calendar">Not connected to Google Calendar!</label>
                    <input class="btn btn-primary btn-sm" name="calendar" type="submit" value="Connect"/>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<div id="ratings-container">
    <h2 id="ratings-table-title" class="architects">Ratings table</h2>
    <div id="ratings-table">
        <table class="table table-sm table-stripped table-hover">
	        <thead id="table-head" class="thead-light">
	            <tr>
		            <th>Topic name</th>
	            </tr>
	        </thead>
	        <tbody>
	            {% for topic, ratings in ratings_table.items %}
	            <tr>
		            <td>{{ topic.name }}</td>
		            {% for rating in ratings %}
		            {% if rating.rating == 'red' %}
		            <td class='bg-danger'>{{ rating.created }}</td>
		            {% elif rating.rating == 'yellow' %}
		            <td class='bg-warning'>{{ rating.created }}</td>
		            {% elif rating.rating == 'green' %}
		            <td class='bg-success'>{{ rating.created }}</td>
		            {% endif %}
		            
		            {% endfor %}
	            </tr>
	            {% endfor %}
	        </tbody>
        </table>
    </div>
</div>
{% endblock %}
