{% block content %}
<div style="background-color: #f8f9fa; margin-top: 40px;">
    <div style="margin: 0 auto; width: 600px; padding-top: 40px; padding-bottom: 40px;">
        <div style="text-align: left; border-radius: 10px; box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px; margin-top: 40px; margin-bottom: 40px; padding: 40px; border-style: solid; border-color: #D3D3D3; border-width: 1px; background-color: white;">
            <p style="font-size: 20px;">Hi {{ user.username }},</p>
            <p>If the following link doesn't work, please try copying and pasting it on your browser.</p>
            <p>Please click the link to verify your account.</p>
            <p>http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token email=email%}</p>
            <p>In case you don't know what this email is about, please contact me at</p>
            <p>qkessler@gmail.com</p>
            <p>Sincerely,</p>
            <p>CloudQuestions' team.</p>
        </div>
    </div>
</div>
{% endblock %}
